* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

@font-face {
  font-family: Montserrat;
  src: url(/assets/fonts/Montserrat-VariableFont_wght.ttf) format(TrueType);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Montserrat2;
  src: url(/assets/fonts/Montserrat-VariableFont_wght.ttf) format(TrueType);
  font-weight: 400;
  font-style: normal;
}
.site-header {
  padding-top: 40px;
  padding-bottom: 2px;
  border-bottom: 0.1px solid #A1A1A1;
}

.header-nav__list {
  display: flex;
  justify-content: right;
}

.header-nav__item {
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 39px;
}
.header-nav__item:nth-child(n+5) {
  margin-right: 0;
}

.header-nav__item {
  overflow: hidden;
  position: relative;
}

.header-nav__link {
  font-family: Montserrat2;
  font-size: 16px;
  font-weight: 500;
  color: white;
  border-radius: 5px;
  transition: color 250ms linear;
  position: relative;
}
.header-nav__link:hover {
  color: rgb(132, 194, 255);
}
.header-nav__link::after {
  content: "";
  display: block;
  border-bottom: 2px solid rgb(255, 255, 255);
  margin-top: 38px;
  transform: translate(-101%);
  transition: transform 250ms linear;
}
.header-nav__link:hover::after {
  transform: translate(0%);
}

.hero {
  padding-top: 319px;
  padding-bottom: 240px;
}

.hero__background {
  background-image: url(/assets/img/DeskTop/x1/herox1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  width: 99vw;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
}

.hero__subtitle {
  text-align: center;
  color: white;
  font-family: Montserrat2;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

.hero__title {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 800;
  line-height: 59px;
  letter-spacing: 0%;
  transform: translate(15%);
  margin-bottom: 50px;
  text-align: center;
  width: 829px;
}

.hero__button {
  width: 200px;
  height: 45px;
  background-color: #4985FF;
  color: white;
  border-radius: 30px;
  border-color: transparent;
  transform: translate(225%);
  font-weight: 500;
  font-size: 16px;
  font-family: Montserrat2;
  text-align: center;
  transition: background-color 250ms linear, box-shadow 250ms linear;
}
.hero__button:hover {
  background-color: #759ef0;
  box-shadow: 0px 1px 9px 4px rgba(73, 133, 255, 0.75);
  -webkit-box-shadow: 0px 1px 9px 4px rgba(73, 133, 255, 0.75);
  -moz-box-shadow: 0px 1px 9px 4px rgba(73, 133, 255, 0.75);
}

.features {
  padding-top: 110px;
  padding-bottom: 105px;
}

.features__title {
  color: var(--dark, rgb(50, 50, 50));
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 32px;
}

.features__text {
  color: var(--grey, rgb(153, 153, 153));
  font-family: Montserrat2;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 70px;
}

.features__list {
  display: flex;
  margin-bottom: 55px;
}

.features__item {
  display: flex;
}

.features__img {
  height: 110px;
  width: 110px;
}

.features__content {
  margin-left: 17px;
  margin-top: 46px;
}

.features__item-title {
  margin-bottom: 12px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.features__item-text {
  color: var(--grey, rgb(153, 153, 153));
  font-family: Montserrat2;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}

.about {
  padding-top: 100px;
  padding-bottom: 70px;
  background-color: #F6F6F8;
}

.about__wrapper {
  display: flex;
  padding-bottom: 70px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 70px;
}

.about__div {
  align-content: center;
  margin-right: 121px;
}

.about__title {
  margin-bottom: 60px;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0%;
  text-align: left;
}

.about__text {
  color: var(--grey, rgb(153, 153, 153));
  font-family: Montserrat2;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 42px;
}

.about__link {
  text-decoration: underline;
  color: var(--Accent, rgb(73, 133, 255));
  font-family: Montserrat2;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  transition: color 250ms linear;
}
.about__link:hover {
  color: rgb(185, 128, 4);
}

.about__picture {
  height: 400px;
  width: 500px;
}

.stats {
  display: flex;
  transform: translate(10%);
  text-align: center;
}

.stats__value-box {
  display: flex;
  margin-bottom: 17px;
}

.stats__icon {
  width: 30px;
  height: 26px;
  margin-right: 20px;
  margin-top: 10px;
}

.stats__value {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0%;
  text-align: left;
}

.stats__item {
  margin-right: 100px;
}

.stats__label {
  color: var(--grey, rgb(153, 153, 153));
  font-family: Montserrat2;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}

.services {
  position: relative;
  padding-top: 100px;
  padding-bottom: 85px;
}

.services__gradient {
  height: 490px;
  width: 99vw;
  position: absolute;
  left: 0;
  top: 0;
  background: #504DC2;
  background: linear-gradient(90deg, rgb(80, 77, 194) 0%, rgb(95, 18, 208) 100%);
  color: white;
  z-index: -2;
}

.services__header {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-bottom: 70px;
}

.services__title {
  color: white;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0%;
  text-align: left;
}

.services__button {
  width: 200px;
  height: 45px;
  background-color: #4985FF;
  color: white;
  border-radius: 30px;
  border-color: transparent;
  font-weight: 500;
  font-size: 16px;
  font-family: Montserrat2;
  text-align: center;
  transition: background-color 750ms linear, box-shadow 250ms linear;
}
.services__button:hover {
  background-color: #759ef0;
  box-shadow: 0px 1px 9px 4px rgba(73, 133, 255, 0.75);
  -webkit-box-shadow: 0px 1px 9px 4px rgba(73, 133, 255, 0.75);
  -moz-box-shadow: 0px 1px 9px 4px rgba(73, 133, 255, 0.75);
}

.services__list {
  display: flex;
  border-bottom: 1px solid lightgray;
  padding-bottom: 85px;
}

.services__item {
  margin-right: 30px;
}
.services__item:nth-child(n+3) {
  margin-right: 0;
}

.services__image {
  width: 350px;
  height: 300px;
  margin-bottom: 20px;
}

.services__item-title {
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.services__item-number {
  color: #4985FF;
}

.services__item-text {
  color: var(--grey, rgb(153, 153, 153));
  font-family: Montserrat2;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 47px;
}

.services__item-link {
  color: #4985FF;
  font-family: Montserrat2;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  text-decoration: underline;
  transition: color 250ms linear;
}
.services__item-link:hover {
  color: #a05815;
}

.services {
  position: relative;
  padding-top: 100px;
  padding-bottom: 85px;
}

.services__gradient {
  height: 490px;
  width: 99vw;
  position: absolute;
  left: 0;
  top: 0;
  background: #504DC2;
  background: linear-gradient(90deg, rgb(80, 77, 194) 0%, rgb(95, 18, 208) 100%);
  color: white;
  z-index: -2;
}

.services__header {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-bottom: 70px;
}

.services__title {
  color: white;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0%;
  text-align: left;
}

.services__button {
  width: 200px;
  height: 45px;
  background-color: #4985FF;
  color: white;
  border-radius: 30px;
  border-color: transparent;
  font-weight: 500;
  font-size: 16px;
  font-family: Montserrat2;
  text-align: center;
  transition: background-color 750ms linear, box-shadow 250ms linear;
}
.services__button:hover {
  background-color: #759ef0;
  box-shadow: 0px 1px 9px 4px rgba(73, 133, 255, 0.75);
  -webkit-box-shadow: 0px 1px 9px 4px rgba(73, 133, 255, 0.75);
  -moz-box-shadow: 0px 1px 9px 4px rgba(73, 133, 255, 0.75);
}

.services__list {
  display: flex;
  border-bottom: 1px solid lightgray;
  padding-bottom: 85px;
}

.services__item {
  margin-right: 30px;
}
.services__item:nth-child(n+3) {
  margin-right: 0;
}

.services__image {
  width: 350px;
  height: 300px;
  margin-bottom: 20px;
}

.services__item-title {
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.services__item-number {
  color: #4985FF;
}

.services__item-text {
  color: var(--grey, rgb(153, 153, 153));
  font-family: Montserrat2;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 47px;
}

.services__item-link {
  color: #4985FF;
  font-family: Montserrat2;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  text-decoration: underline;
  transition: color 250ms linear;
}
.services__item-link:hover {
  color: #a05815;
}

.projects {
  padding-top: 100px;
  padding-bottom: 130px;
  background-color: #F6F6F8;
}

.projects__title {
  text-align: center;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0%;
  margin-bottom: 56px;
}

.projects__subtitle {
  color: var(--grey, rgb(153, 153, 153));
  font-family: Montserrat2;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 72px;
}

.projects__list {
  display: flex;
  margin-bottom: 50px;
}

.projects__item {
  margin-right: 30px;
}
.projects__item:nth-child(n+4) {
  margin-right: 0;
}

.videoimg {
  padding-top: 70px;
  padding-bottom: 84.5px;
  border-bottom: 1px solid lightgray;
  position: relative;
}

.videoimg__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 99vw;
  height: 570px;
  background-image: url(/assets/img/DeskTop/x1/hero2x1.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.videoimg__title {
  color: white;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 30px;
}

.videoimg__subtitle {
  color: rgb(255, 255, 255);
  font-family: Montserrat2;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 70px;
}

.videoimg__img {
  display: block;
  margin: 0 auto;
}

.videoimg__position {
  position: relative;
}

.videoimg__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.videoimg__button {
  border: 1px solid white;
  background-color: transparent;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  transition: box-shadow 250ms linear, border-color 250ms linear, background 250ms linear;
}
.videoimg__button:hover {
  background: #080808;
  background: linear-gradient(168deg, rgba(8, 8, 8, 0.56) 15%, rgba(255, 255, 255, 0.08) 100%);
  box-shadow: -1px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-color: transparent;
}

.videoimg__button:hover .videoimg__svg {
  opacity: 0.75;
}

.videoimg__button:hover .videoimg__span {
  opacity: 0.75;
}

.videoimg__span {
  color: white;
  font-family: Montserrat2;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  transition: opacity 250ms linear;
}

.videoimg__svg {
  height: 60px;
  width: 60px;
  margin-right: 21px;
  border-radius: 50%;
  transition: opacity 250ms linear;
}

.newsletter {
  padding-top: 85px;
  padding-bottom: 85px;
}

.newsletter__title {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 20px;
}

.newsletter__text {
  margin-bottom: 30px;
  color: var(--grey, rgb(153, 153, 153));
  font-family: Montserrat2;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}

.newsletter__form {
  text-align: center;
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
}

.newsletter__input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 33px;
  width: 299px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-color: transparent;
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
  display: block;
}

.newsletter__button {
  display: block;
  border-color: transparent;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 26px;
  padding-right: 36px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
  font-weight: 500;
  font-size: 16px;
  font-family: Montserrat2;
  transition: background-color 250ms linear, box-shadow 250ms linear, color 250ms linear;
}
.newsletter__button:hover {
  background-color: #6c9dff;
  box-shadow: 0px 1px 9px 4px rgba(73, 133, 255, 0.75);
  -webkit-box-shadow: 0px 1px 9px 4px rgba(73, 133, 255, 0.75);
  -moz-box-shadow: 0px 1px 9px 4px rgba(73, 133, 255, 0.75);
  color: white;
}

.newsletter__note {
  color: var(--grey, rgb(153, 153, 153));
  font-family: Montserrat2;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
}

.site-footer {
  padding-top: 70px;
  padding-bottom: 30px;
  background-color: #F6F6F8;
}

.site-footer__columns {
  display: flex;
  justify-content: center;
  padding-bottom: 69.5px;
  border-bottom: 1px solid lightgray;
}

.site-footer__column {
  margin-right: 43px;
}
.site-footer__column:nth-last-child {
  margin-right: 0;
}

.site-footer__column-title {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 35px;
}

.site-footer__icon {
  height: 15px;
  width: 15px;
  margin-right: 15px;
}

.site-footer__list {
  list-style: circle;
}

.site-footer__list--small1 {
  list-style: none;
}

.site-footer__link {
  color: var(--grey, rgb(153, 153, 153));
  font-family: Montserrat2;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  position: relative;
}
.site-footer__link:hover {
  text-decoration: underline;
}

.site-footer__item {
  margin-bottom: 30px;
  margin-left: 30px;
}

.site-footer__copyright {
  color: var(--grey, rgb(153, 153, 153));
  font-family: Montserrat2;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 30px;
}