* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

@font-face {
  font-family: Montserrat;
  src: url(/assets/fonts/Montserrat-VariableFont_wght.ttf) format(TrueType);
  font-weight: 400;
  font-style: normal;
}
.site-header {
  padding-top: 40px;
  border-bottom: 0.1px solid #A1A1A1;
}

.header-nav__list {
  display: flex;
  transform: translate(50%);
}

.header-nav__item {
  margin-right: 39px;
}
.header-nav__item:nth-last-child {
  margin-right: 0;
}

.header-nav__item {
  overflow: hidden;
}
.header-nav__item::after {
  content: "";
  display: block;
  border-bottom: 2px solid rgb(255, 255, 255);
  padding-top: 38px;
  transform: translate(-100%);
  transition: transform 250ms linear;
}
.header-nav__item:hover::after {
  transform: translate(0%);
}

.header-nav__link {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  color: white;
  border-radius: 5px;
  transition: color 250ms linear;
  transition: box-shadow 250ms linear;
}
.header-nav__link:hover {
  color: rgb(60, 123, 185);
  box-shadow: 0px 0px 33px 2px rgba(65, 159, 254, 0.75);
  -webkit-box-shadow: 0px 0px 33px 2px rgba(65, 159, 254, 0.75);
  -moz-box-shadow: 0px 0px 33px 2px rgba(65, 159, 254, 0.75);
}