* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

@font-face {
  font-family: Montserrat;
  src: url(/assets/fonts/Montserrat-VariableFont_wght.ttf) format(TrueType);
  font-weight: 400;
  font-style: normal;
}
.site-header {
  padding-top: 40px;
  padding-bottom: 2px;
  border-bottom: 0.1px solid #A1A1A1;
}

.header-nav__list {
  display: flex;
  justify-content: right;
}

.header-nav__item {
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 39px;
}
.header-nav__item:nth-child(n+5) {
  margin-right: 0;
}

.header-nav__item {
  overflow: hidden;
  position: relative;
}

.header-nav__link {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  color: white;
  border-radius: 5px;
  transition: color 250ms linear;
  position: relative;
}
.header-nav__link:hover {
  color: rgb(132, 194, 255);
}
.header-nav__link::after {
  content: "";
  display: block;
  border-bottom: 2px solid rgb(255, 255, 255);
  margin-top: 38px;
  transform: translate(-100%);
  transition: transform 250ms linear;
}
.header-nav__link:hover::after {
  transform: translate(0%);
}

.hero {
  padding-top: 319px;
  padding-bottom: 350px;
}

.hero__background {
  background-image: url(/assets/img/DeskTop/x1/herox1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  width: 99vw;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
}

.hero__subtitle {
  text-align: center;
  color: white;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

.hero__title {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 800;
  line-height: 59px;
  letter-spacing: 0%;
  transform: translate(15%);
  margin-bottom: 50px;
  text-align: center;
  width: 829px;
}

.hero__button {
  width: 200px;
  height: 45px;
  background-color: #4985FF;
  color: white;
  border-radius: 30px;
  border-color: transparent;
  transform: translate(225%);
  font-weight: 500;
  font-size: 16px;
  font-family: Montserrat;
  text-align: center;
  transition: background-color 750ms linear;
  transition: box-shadow 250ms linear;
}
.hero__button:hover {
  background-color: #759ef0;
  box-shadow: 0px 1px 9px 4px rgba(73, 133, 255, 0.75);
  -webkit-box-shadow: 0px 1px 9px 4px rgba(73, 133, 255, 0.75);
  -moz-box-shadow: 0px 1px 9px 4px rgba(73, 133, 255, 0.75);
}