.about {
    padding-top: 100px;
    padding-bottom: 70px;
    background-color: #F6F6F8;
}

.about__wrapper {
    display: flex;
    padding-bottom: 70px;
   border-bottom: 1px solid lightgray;
   margin-bottom:70px;
}

.about__div {
    align-content:center ;
    margin-right: 121px;
}

.about__title {
    margin-bottom: 60px;
font-family: Montserrat;
font-size: 36px;
font-weight: 700;
line-height: 44px;
letter-spacing: 0%;
text-align: left;
}

.about__text {
    color: var(--grey, rgba(153, 153, 153, 1));

font-family: Montserrat2;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;

margin-bottom: 42px;
}

.about__link {
    text-decoration: underline;

    color: var(--Accent, rgba(73, 133, 255, 1));

font-family: Montserrat2;
font-size: 16px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;
transition: color 250ms linear;
&:hover {
    color:rgb(185, 128, 4);
}
}

.about__picture {
    height: 400px;
    width: 500px;
}

.stats {
    display: flex;
   transform: translate(10%);
    text-align: center;
}

.stats__value-box {
    display: flex;
    margin-bottom: 17px;
}

.stats__icon {
    width: 30px;
    height: 26px;
    margin-right: 20px;
    margin-top: 10px;
}

.stats__value {
font-family: Montserrat;
font-size: 36px;
font-weight: 400;
line-height: 44px;
letter-spacing: 0%;
text-align: left;
}
 

.stats__item {
margin-right: 100px;
}

.stats__label {
    color: var(--grey, rgba(153, 153, 153, 1));

font-family: Montserrat2;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
}
