.features {
    padding-top: 110px;
    padding-bottom: 105px;
}

.features__title {
    color: var(--dark, rgba(50, 50, 50, 1));

font-family: Montserrat;
font-size: 36px;
font-weight: 700;
line-height: 44px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 32px;
}

.features__text {
    color: var(--grey, rgba(153, 153, 153, 1));

font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 70px;
}

.features__list {
    display: flex;
    margin-bottom: 55px;
}

.features__item {
    display: flex;
}

.features__img {
    height: 110px;
    width: 110px;
}

.features__content {
    margin-left: 17px;
    margin-top: 46px;
}

.features__item-title {
    margin-bottom: 12px;
font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}

.features__item-text {
    color: var(--grey, rgba(153, 153, 153, 1));

font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0%;
text-align: left;
}