.site-footer {
    padding-top:70px ;
    padding-bottom: 30px;
    background-color: #F6F6F8;
}

.site-footer__columns {
    display: flex;
    justify-content: center;
    padding-bottom: 69.5px;
    border-bottom: 1px solid lightgray;
}

.site-footer__column {
    margin-right: 43px;
    &:nth-last-child {
        margin-right: 0;
    }
}

.site-footer__column-title {
    color: rgba(0, 0, 0, 1);
font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;

margin-bottom: 35px;
}

.site-footer__icon {
    height: 15px;
    width: 15px;
    margin-right: 15px;
}

.site-footer__list {
    list-style:circle;
}

.site-footer__list--small1 {
    list-style:none;
}

.site-footer__link {
    color: var(--grey, rgba(153, 153, 153, 1));

font-family: Montserrat2;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0%;
text-align: left;

position: relative;
&:hover {
    text-decoration:underline;
}
}

.site-footer__item {
   margin-bottom: 30px;
   margin-left: 30px;
}

.site-footer__copyright {
    color: var(--grey, rgba(153, 153, 153, 1));

font-family: Montserrat2;
font-size: 13px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
margin-top: 30px;
}

