.site-header {
    padding-top:40px;
    padding-bottom: 2px;
    border-bottom: 0.1px solid #A1A1A1;
}

.header-nav__list {
    display: flex;
    justify-content: right;
}

.header-nav__item {
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 39px;
    &:nth-child(n+5) {
        margin-right: 0;
    }
}

.header-nav__item {
    overflow: hidden;
    position:relative;
}

.header-nav__link {
    font-family: Montserrat2;
    font-size:16px;
    font-weight: 500;
    color: white;
    border-radius: 5px;
    transition: color 250ms linear;

    position:relative;

    &:hover {
        color: rgb(132, 194, 255);
    }

      &::after {
        content: "";
        display: block;
       border-bottom: 2px solid rgba(255, 255, 255, 1);
       margin-top: 38px ;
       transform:translate(-100%);
       transition: transform 250ms linear;
    }

    &:hover::after {
        transform: translate(0%);
    }

}