.site-header {
    padding-top:40px;
    border-bottom: 0.1px solid #A1A1A1;
}

.header-nav__list {
    display: flex;
    transform: translate(50%);
}

.header-nav__item {
    margin-right: 39px;
    &:nth-last-child {
        margin-right: 0;
    }
}

.header-nav__item {
    overflow: hidden;
    &::after {
        content: "";
        display: block;
       border-bottom: 2px solid rgba(255, 255, 255, 1);
       padding-top: 38px ;
       transform:translate(-100%);
       transition: transform 250ms linear;
    }

    &:hover::after {
        transform: translate(0%);
    }


}

.header-nav__link {
    font-family: Montserrat;
    font-size:16px;
    font-weight: 500;
    color: white;
    border-radius: 5px;
    transition: color 250ms linear;
    transition: box-shadow 250ms linear;
    &:hover {
        color: rgb(60, 123, 185);
        box-shadow: 0px 0px 33px 2px rgba(65,159,254,0.75);
-webkit-box-shadow: 0px 0px 33px 2px rgba(65,159,254,0.75);
-moz-box-shadow: 0px 0px 33px 2px rgba(65,159,254,0.75);
    }
}