.site-header {
    padding-top:40px;
    padding-bottom:40px;
    border-bottom: 0.1px solid #A1A1A1;
}

.header-nav__list {
    display: flex;
    transform: translate(50%);
}

.header-nav__item {
    margin-right: 39px;
    &:nth-last-child {
        margin-right: 0;
    }
}