.site-header {
    padding-top:40px;
    padding-bottom: 2px;
    border-bottom: 0.1px solid #A1A1A1;
    @media (max-width:1199px) {
        padding-bottom: 40px;
    }
}

.headerTel__flex {
    display: flex;
        justify-content: flex-end;
}

.header__button {
    display: none;
    @media (max-width:1199px) {
        display: block;
        
    }
}

.header-nav__list {
    display: flex;
    justify-content: right;
    @media (max-width:1199px) {
        display: none;
    }
}

.header-nav__item {
    margin-right: 39px;
    &:nth-child(n+5) {
        margin-right: 0;
    }
}

.header-nav__item {
    overflow: hidden;
    position:relative;
}

.header-nav__link {
    font-family: Montserrat2;
    font-size:16px;
    font-weight: 500;
    color: white;
    border-radius: 5px;
    transition: color 250ms linear;

    position:relative;

    &:hover {
        color: rgb(132, 194, 255);
    }

      &::after {
        content: "";
        display: block;
       border-bottom: 2px solid rgba(255, 255, 255, 1);
       margin-top: 38px ;
       transform:translate(-101%);
       transition: transform 250ms linear;
    }

    &:hover::after {
        transform: translate(0%);
    }

}

.mobileMenu {
   @media (max-width:1199px) {
    height: 100vh;
    width: 350px;
    background-color: red;
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(0);
    transition:transform linear 750ms;
}
}

.is-hidden {
    @media (max-width:1199px) {
        transform: translate(100%);
    }
}