.hero {
    padding-top:319px;
    padding-bottom:240px;
}

.hero__background {
    background-image:url(/assets/img/DeskTop/x1/herox1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    width:99vw;
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
}

.hero__subtitle {
    text-align: center;
    color: white;
    font-family: Montserrat2;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

.hero__title {
    color: rgba(255, 255, 255, 1);
font-family: Montserrat;
font-size: 48px;
font-weight: 800;
line-height: 59px;
letter-spacing: 0%;
transform: translate(15%);
margin-bottom: 50px;
text-align: center;
width:829px;
}

.hero__button {
    width: 200px;
    height: 45px;
    background-color:#4985FF;
    color:white;
    border-radius: 30px;
    border-color: transparent;
    transform: translate(225%);

    font-weight: 500;
    font-size: 16px;
    font-family: Montserrat2;
    text-align: center;
    transition: background-color 750ms linear;
    transition: box-shadow 250ms linear;
    &:hover {
        background-color: #759ef0;
box-shadow: 0px 1px 9px 4px rgba(73,133,255,0.75);
-webkit-box-shadow: 0px 1px 9px 4px rgba(73,133,255,0.75);
-moz-box-shadow: 0px 1px 9px 4px rgba(73,133,255,0.75);

    }
}
