.newsletter {
    padding-top: 85px;
    padding-bottom: 85px;
}

.newsletter__title {
   color: rgba(0, 0, 0, 1);

font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
margin-bottom:20px;
}

.newsletter__text {
    margin-bottom: 30px;
color: var(--grey, rgba(153, 153, 153, 1));

font-family: Montserrat2;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
}

.newsletter__form {
    text-align: center;
    margin-bottom: 35px;
}

.newsletter__input {
    padding-top: 15px;
    padding-bottom:15px;
    padding-left: 33px;
    width: 299px;
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;
    border-color: transparent;
    box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
}

.newsletter__button {
    border-color: transparent;
    padding-top:15px ;
    padding-bottom: 15px;
    padding-left: 26px;
    padding-right: 36px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
    
    font-weight: 500;
    font-size: 16px;
    font-family: Montserrat2;
    transition: background-color 750ms linear;
    transition: box-shadow 250ms linear;
    transition: color 250ms linear;
    &:hover {
        background-color: #6c9dff;
box-shadow: 0px 1px 9px 4px rgba(73,133,255,0.75);
-webkit-box-shadow: 0px 1px 9px 4px rgba(73,133,255,0.75);
-moz-box-shadow: 0px 1px 9px 4px rgba(73,133,255,0.75);
color: white;

    }
}

.newsletter__note {
    color: var(--grey, rgba(153, 153, 153, 1));

font-family: Montserrat2;
font-size: 13px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
}